<wj-flex-grid #grid style="width:960px; max-height:900px" height="900" [itemsSource]='data | async'
>
  <wj-flex-grid-column [binding]="'Col0'" [width]="50"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col1'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col2'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col3'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col4'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col5'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col6'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col7'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col8'" [width]="90"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col9'" [width]="90"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col10'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col11'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col12'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col13'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col14'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Col15'"></wj-flex-grid-column>
</wj-flex-grid>
