<wj-flex-grid style="width:960px; max-height:500px" [itemsSource]='data | async'>
  <wj-flex-grid-column [binding]="'Id'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Name'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Age'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Birthday'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Street'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'City'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Phone'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Country'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Language'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Sports'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'IsActive'"></wj-flex-grid-column>
</wj-flex-grid>
