<wj-flex-grid style="width:960px; max-height:900px" height="900" [itemsSource]='data | async'
>
  <wj-flex-grid-column [binding]="'ID'" [width]="50"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Category'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Type'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Spread'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'OpenPrice'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Price'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Buy'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Sell'" [width]="80"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Change'" [width]="90"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'ChangePercent'" [width]="90"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Volume'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'HighD'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'LowD'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'HighY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'LowY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'StartY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'LowY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Spread'"></wj-flex-grid-column>
<!--   
  <wj-flex-grid-column [binding]="'A'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'B'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'C'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'D'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'E'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'F'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'G'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'H'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'I'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'J'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'K'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'L'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'M'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'N'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'O'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'P'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Q'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'R'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'S'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'T'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'U'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'V'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'W'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'X'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Y'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'Z'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AA'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AB'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AC'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AD'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AE'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AF'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AG'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AH'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AI'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AJ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AK'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AL'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AM'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AN'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AO'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AP'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AQ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AR'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AS'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AT'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AU'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AV'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AW'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AX'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'AZ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BA'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BB'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BC'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BD'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BE'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BF'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BG'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BH'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BI'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BJ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BK'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BL'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BM'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BN'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BO'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BP'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BQ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BR'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BS'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BT'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BU'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BV'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BW'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BX'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BY'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'BZ'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'CA'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'CB'"></wj-flex-grid-column> -->
</wj-flex-grid>
