<igx-grid #grid1 [data]="data | async" [autoGenerate]="true" [rowHeight]="28"
   width="960px" height="800px"  >
  <!-- <igx-column field="Col0" width="70"></igx-column>
  <igx-column field="Col1"></igx-column>
  <igx-column field="Col2"></igx-column>
  <igx-column field="Col3" width="80"></igx-column>
  <igx-column field="Col4" width="80"></igx-column>
  <igx-column field="Col5" width="90"></igx-column>
  <igx-column field="Col6" width="90"></igx-column>
  <igx-column field="Col7" width="90"></igx-column>
  <igx-column field="Col8" width="90"></igx-column>
  <igx-column field="Col9"></igx-column>  -->
</igx-grid>
