<igx-grid #grid1 [data]="data | async" [autoGenerate]="false" [rowHeight]="28"
   width="960px" height="800px"  >
  <igx-column field="ID"></igx-column>
  <igx-column field="Category"></igx-column>
  <igx-column field="Type"></igx-column>
  <igx-column field="Spread"></igx-column>
  <igx-column field="OpenPrice"></igx-column>
  <igx-column field="Price"></igx-column>
  <igx-column field="Buy"></igx-column>
  <igx-column field="Sell"></igx-column>
  <igx-column field="Change"></igx-column>
  <igx-column field="ChangePercent"></igx-column>
  <igx-column field="Volume"></igx-column>
  <igx-column field="HighD"></igx-column>
  <igx-column field="LowD"></igx-column>
  <igx-column field="HighY"></igx-column>
  <igx-column field="LowY"></igx-column>
  <igx-column field="StartY"></igx-column>
  <igx-column field="LowY"></igx-column>
  <igx-column field="Spread"></igx-column>
  <igx-column field="A"></igx-column>
  <igx-column field="B"></igx-column>
  <igx-column field="C"></igx-column>
  <igx-column field="D"></igx-column>
  <igx-column field="E"></igx-column>
  <igx-column field="F"></igx-column>
  <igx-column field="G"></igx-column>
  <igx-column field="H"></igx-column>
  <igx-column field="I"></igx-column>
  <igx-column field="J"></igx-column>
  <igx-column field="K"></igx-column>
  <igx-column field="L"></igx-column>
  <igx-column field="M"></igx-column>
  <igx-column field="N"></igx-column>
  <igx-column field="O"></igx-column>
  <igx-column field="P"></igx-column>
  <igx-column field="Q"></igx-column>
  <igx-column field="R"></igx-column>
  <igx-column field="S"></igx-column>
  <igx-column field="T"></igx-column>
  <igx-column field="U"></igx-column>
  <igx-column field="V"></igx-column>
  <igx-column field="W"></igx-column>
  <igx-column field="X"></igx-column>
  <igx-column field="Y"></igx-column>
  <igx-column field="Z"></igx-column>
  <igx-column field="AA"></igx-column>
  <igx-column field="AB"></igx-column>
  <igx-column field="AC"></igx-column>
  <igx-column field="AD"></igx-column>
  <igx-column field="AE"></igx-column>
  <igx-column field="AF"></igx-column>
  <igx-column field="AG"></igx-column>
  <igx-column field="AH"></igx-column>
  <igx-column field="AI"></igx-column>
  <igx-column field="AJ"></igx-column>
  <igx-column field="AK"></igx-column>
  <igx-column field="AL"></igx-column>
  <igx-column field="AM"></igx-column>
  <igx-column field="AN"></igx-column>
  <igx-column field="AO"></igx-column>
  <igx-column field="AP"></igx-column>
  <igx-column field="AQ"></igx-column>
  <igx-column field="AR"></igx-column>
  <igx-column field="AS"></igx-column>
  <igx-column field="AT"></igx-column>
  <igx-column field="AU"></igx-column>
  <igx-column field="AV"></igx-column>
  <igx-column field="AW"></igx-column>
  <igx-column field="AX"></igx-column>
  <igx-column field="AY"></igx-column>
  <igx-column field="AZ"></igx-column>
  <igx-column field="BA"></igx-column>
  <igx-column field="BB"></igx-column>
  <igx-column field="BC"></igx-column>
  <igx-column field="BD"></igx-column>
  <igx-column field="BE"></igx-column>
  <igx-column field="BF"></igx-column>
  <igx-column field="BG"></igx-column>
  <igx-column field="BH"></igx-column>
  <igx-column field="BI"></igx-column>
  <igx-column field="BJ"></igx-column>
  <igx-column field="BK"></igx-column>
  <igx-column field="BL"></igx-column>
  <igx-column field="BM"></igx-column>
  <igx-column field="BN"></igx-column>
  <igx-column field="BO"></igx-column>
  <igx-column field="BP"></igx-column>
  <igx-column field="BQ"></igx-column>
  <igx-column field="BR"></igx-column>
  <igx-column field="BS"></igx-column>
  <igx-column field="BT"></igx-column>
  <igx-column field="BU"></igx-column>
  <igx-column field="BV"></igx-column>
  <igx-column field="BW"></igx-column>
  <igx-column field="BX"></igx-column>
  <igx-column field="BY"></igx-column>
  <igx-column field="BZ"></igx-column>
  <igx-column field="CA"></igx-column>
  <igx-column field="CB"></igx-column>
</igx-grid>
