<igx-grid #grid1 [data]="data | async" [autoGenerate]="true"
   width="960px" height="550px"  >
  <igx-column field="Id">
  </igx-column>
  <igx-column field="Name">
  </igx-column>
  <igx-column field="Age">
  </igx-column>
  <igx-column field="Birthday">
  </igx-column>
  <igx-column field="Street">
  </igx-column>
  <igx-column field="City">
  </igx-column>
  <igx-column field="Phone">
  </igx-column>
  <igx-column field="Country">
  </igx-column>
  <igx-column field="Language">
  </igx-column>
  <igx-column field="Sports">
  </igx-column>
  <igx-column field="IsActive">
  </igx-column>
</igx-grid>
