<div style="width: 960px;">
  <kendo-grid [data]="gridView"
    [skip]="skip" [pageSize]="pageSize"
    [scrollable]="'virtual'"
    [resizable]="true"
    [rowHeight]="30" [height]="935"
    (pageChange)="pageChange($event)" >
    <kendo-grid-column width=50 field="Col0"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col1"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col2"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col3"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col4"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col5"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col6"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col7"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col8"></kendo-grid-column>
    <kendo-grid-column width=100 field="Col9"></kendo-grid-column>

</kendo-grid>
</div>
