<div style="width: 960px; height: 550px;">
<kendo-grid [data]="data | async" [height]="500"  >
    <kendo-grid-column field="Id">
    </kendo-grid-column>
    <kendo-grid-column field="Name">
    </kendo-grid-column>
    <kendo-grid-column field="Age">
    </kendo-grid-column>
    <kendo-grid-column field="Birthday">
    </kendo-grid-column>
    <kendo-grid-column field="Street">
    </kendo-grid-column>
    <kendo-grid-column field="City">
    </kendo-grid-column>
    <kendo-grid-column field="Phone">
    </kendo-grid-column>
    <kendo-grid-column field="Country">
    </kendo-grid-column>
    <kendo-grid-column field="Language">
    </kendo-grid-column>
    <kendo-grid-column field="Sports">
    </kendo-grid-column>
    <kendo-grid-column field="IsActive">
    </kendo-grid-column>

</kendo-grid>
</div>
